.background {
    background-image: url('../../../public/shop.jpg');
    background-size: contain;
    /* background-repeat: no-repeat; */
    padding: 100px;
    color: #FF00FF;
    font-weight: bold;
    text-align: left;
}